<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/ku/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<div id="head-main">
    <div class="row">
    <%- include components/logo %>
    <%- include components/nav %>
    <%- include components/setting %>
    </div>
    <%- include components/notifation %>
</div>
</body>
</html>
